html, body, #root {
  height: 100%;
  background-color: #fafafa;
}

.container {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
}

.footer {
  display: flex;
  flex: 0 1;
  width: calc(100% - 36px);
  background-color: white;
  color: black;
  padding: 18px;
}

.footer-content {
  flex: 1;
}

.footer-padding {
  flex: 1;
  max-width: 25%;
  min-width: 25%;
}

button {
  float: right;
  padding: 9px;
  background-image: linear-gradient(to right, #38ef7d, #38ef7d);
  border-radius: 9px;
  border: none;
  margin-right: 9px;
}